.Actu {
    display: flex;
    background-color: #000000;

}

.column {
    background-color: #000000;
    width: 100%;
    height: 100%;
}
 
.navigation {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
   
}

.link-catalog {
    color: #FFFFFF;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 17px;
    margin: 40px;
    text-decoration:none; 
}

.link-catalog:hover {
    color: #FEC0CB !important;;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 17px;
    margin: 40px;
    text-decoration:none; 
}

.link-catalog:active {
    color: #FEC0CB !important;;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 300 !important;
    font-size: 17px;
    margin: 40px;
    text-decoration:none; 
} 

.img-actu {
    width: 550px;
    height: 550px;
    margin-right: 50px;
    margin-bottom: 100px;
}

.row {
    display: flex;
    flex-flow: row nowrap;
}

.items {
    display: flex;
    flex-flow: column wrap;
    width: 500px;
}

.title-actu {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 20px;

}

.paragraphe-actu {
    color: #FFFFFF;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin: 0;

}

.date-actu {
    color: #FFFFFF;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 20px;

}