.AlbumsPage {
    display: flex;
    background-color: #000000;

}

.column {
    background-color: #000000;
    width: 100%;
    height: 100%;
}
 
.navigation {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
   
}

.link-catalog {
    color: #FFFFFF;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 17px;
    margin: 40px;
    text-decoration:none; 
}

.link-catalog:hover {
    color: #FEC0CB !important;;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 17px;
    margin: 40px;
    text-decoration:none; 
}

.link-catalog:active {
    color: #FEC0CB !important;;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 300 !important;
    font-size: 17px;
    margin: 40px;
    text-decoration:none; 
} 

.Albums {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 200px;
    height: 100%;
    margin-left: 15px;
    margin-right: 15px;
    width: 100%;
    margin: 0;
}

.image-album {
    width: 250px;
    height: 250px;
    margin: 15px;
}


.name-album {
    color: #FFFFFF;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 19px;
    text-align: center;
    margin: 0;

}

.name-artist {
    color: #FEC0CB;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 17px;
    text-align: center;
    margin: 0;

}

