.Catalog {
    display: flex;
    height: 100%;
    background-color: #000000;

}

@media screen and (max-width: 1000px) {
    .Catalog {
        flex-flow: column nowrap;
    }
}

.column-catalog {
    background-color: #000000;
    width: 100%;
    height: 100%;
}
 


@media screen and (max-width: 1000px) {
    .navigation {
        flex-flow: column wrap;
    }
}

.link-catalog {
    color: #FFFFFF;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 17px;
    margin: 40px;
    text-decoration:none; 
}

.link-catalog:hover {
    color: #FEC0CB !important;;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 17px;
    margin: 40px;
    text-decoration:none; 
}

.link-catalog:active {
    color: #FEC0CB !important;;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 300 !important;
    font-size: 17px;
    margin: 40px;
    text-decoration:none; 
} 

.Artists {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    
}

@media screen and (max-width: 800px) {
    .Artists {
    }
}

.image-artist {
    width: 300px;
    height: 300px;
    margin: 50px;
    margin-left: 0;
    margin-top: 0;
}

@media screen and (max-width: 800px) {
    .image-artist {
        width: 400px;
        height: 400px;
        margin: 0;
        margin-bottom: 50px;
    }
}


.artists-catalog {
    display: flex;
}

@media screen and (max-width: 800px) {
    .artists-catalog {
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
}

.artist-name {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 20px;
}

@media screen and (max-width: 1000px) {
    .artist-name {
        font-size: 30px;
    }
}

@media screen and (max-width: 800px) {
    .right-part {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }
}

.artist-bio {
    color: #FFFFFF;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin: 0;
    width: 600px;
}

@media screen and (max-width: 1000px) {
    .artist-bio {
        width: 400px;
    }
}

.button-catalog {
    border-radius: 50px;
    background-color: #000000 !important;
    border-color: #FFFFFF !important;
    color: #FFFFFF !important;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: 12px;
    margin-right: 20px;
    margin-top: 20px;
    width: 90px;
    height: 35px;
}

.button-catalog:hover {
    border-radius: 50px;
    background-color: #FFFFFF !important;
    color: #000000 !important;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: 12px;
    margin-right: 20px;
    margin-top: 20px;
    width: 90px;
    height: 35px;
}