.Signup {
    width: 100%;
    height: 100%;
    background-color: #FEC0CB;
}

.div-signup {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 940px;
    background-color: #FEC0CB;

}

.sign {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-top: 5px;

}

.title-signup {
        color: #000000;
        font-family: 'Helvetica Neue', sans-serif;
        font-weight: 500;
        font-size: 40px;
        margin-bottom: 50px;
}

.second-title-signup {
        color: #000000;
        font-family: 'Helvetica Neue', sans-serif;
        font-weight: 800;
        font-size: 15px;

}

.row-signup {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .row-signup {
        flex-direction: column;
    }
}


.left-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

@media screen and (max-width: 1000px) {
    .left-row {
        justify-content: center;
    }
}

.line-signup {
    width: 853px !important;
    height: 1px;
    background-color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 20px;
}


.first-paragraphe-signup {
    margin: 0;
    color: #000000;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

@media screen and (max-width: 1000px) {
    .first-paragraphe-signup {
        display: none;
    }
}

.second-paragraphe-signup {
    color: #000000;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-right: 160px;
}

@media screen and (max-width: 1000px) {
    .second-paragraphe-signup {
        display: none;
    }
}


.column-left {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: center;
    margin-right: 150px;

}

@media screen and (max-width: 1000px) {
    .column-left {
        margin-right: 0;
    }
}

.column-right {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-content: center;
}


.form-control {
    width: 350px;
}

.button-signup {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 17px;
    width: 100px;
    height: 50px;
    font-weight: 800;
    background-color: #EEAC57;
    border-color: #ECA142;
    color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 30px;
}

.button-signup:hover {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 17px;
    width: 100px;
    height: 50px;
    color: #FFFFFF;
    font-weight: 800;
    background-color: #FEC0CB;
    border-color: #ECA142;
    border-radius: 10px;
    margin-bottom: 30px;
}

