.Playlist {
   display: flex;
    background-color: #000000;

}

@media screen and (max-width: 1000px) {
    .Playlist {
        flex-flow: column nowrap;
    }
}

.column-playlist {
    display: flex;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    margin: 50px;
}

@media screen and (max-width: 1000px) {
    .column-playlist {
        margin: 0;
        justify-content: center;
    }
}

.column-column {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    width: 100%;
}

.image-playlist {
    width: 250px;
    height: 250px;
    margin: 50px;
}


.name-playlist-playlist {
    color: #FFFFFF;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin: 0;

}

