.navleft {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
    width: 30%;
    margin: 50px;
    background-color: #000000;

}

.title-navleft {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    height: 30px;
    margin-bottom: 70px;
    margin-top: 50px;
}



.navleft-link {
    color: #FFFFFF;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 17px;
    margin: 10px;
}

.navleft-link:hover {
    color: #FEC0CB !important;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 400 !important;
    font-size: 17px;
    margin: 10px;
    text-decoration:none; 
} 

.navleft-link:active {
    color: #FEC0CB !important;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 400 !important;
    font-size: 17px;
    margin: 10px;
    text-decoration:none; 
} 


.logo {
    width: 20px;
    height: 20px;
}

.couple {
    
    display: flex;
    align-items: center;
    height: 20px;
    margin-bottom: 25px;

}
