
.signup {
    border-radius: 50px;
    background-color: #FEC0CB;
    border-color: #FEC0CB;
    color: #000000;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 12px;
    margin-right: 20px;
    width: 90px;
    height: 35px;
}

.signin {
    border-radius: 50px;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: #000000;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 12px;
    margin-right: 20px;
    width: 90px;
    height: 35px;
}

.signup:hover {
    border-radius: 50px;
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 12px;
    margin-right: 20px;
    width: 90px;
    height: 35px;
}

.signin:hover {
    border-radius: 50px;
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 12px;
    margin-right: 20px;
    width: 90px;
    height: 35px;
}
