.buttons-home {
    display: flex;
}

.about {
    border-radius: 50px;
    background-color: #FEC0CB;
    border-color: #FEC0CB;
    color: #000000;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 12px;
    margin-right: 20px;
    width: 100px;
    height: 35px;
}

.subscribe {
    border-radius: 50px;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: #000000;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 12px;
    margin-right: 20px;
    width: 100px;
    height: 35px;
}

.about:hover {
    border-radius: 50px;
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 12px;
    margin-right: 20px;
    width: 100px;
    height: 35px;
}

.subscribe:hover {
    border-radius: 50px;
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 12px;
    margin-right: 20px;
    width: 100px;
    height: 35px;
}