.Home {
    width: 100%;
    height: 100%;
    background-color: #000000;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.div-home {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    width: 100%;
    height: 870px;
    background-color: #000000;
}

.title-home {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 100px;
    margin-bottom: 20px;
}


.first-paragraphe-home {
    padding: 0;
    margin: 0;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 5px;

}

.second-paragraphe-home {
    color: #FFFFFF;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 50px;

}



.signup-home {
    border-radius: 50px;
    background-color: #FEC0CB;
    border-color: #FEC0CB;
    color: #000000;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: 12px;
    margin-right: 20px;
    width: 90px;
    height: 35px;
}

.signin-home {
    border-radius: 50px;
    background-color: #FFFFFF !important;
    border-color: #FFFFFF !important;
    color: #000000 !important;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: 12px;
    margin-right: 20px;
    width: 90px;
    height: 35px;
}

.signup-home:hover {
    border-radius: 50px;
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: 12px;
    margin-right: 20px;
    width: 90px;
    height: 35px;
}

.signin-home:hover {
    border-radius: 50px;
    background-color: #000000 !important;
    color: #FFFFFF !important;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: 12px;
    margin-right: 20px;
    width: 90px;
    height: 35px;
}

.button-home {
    display: flex;
}

.about-home {
    border-radius: 50px;
    background-color: #FEC0CB;
    border-color: #FEC0CB;
    color: #000000;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: 13px;
    margin-right: 20px;
    width: 110px;
    height: 40px;
}

.subscribe-home {
    border-radius: 50px;
    background-color: #FFFFFF !important;
    border-color: #FFFFFF !important;
    color: #000000 !important;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: 13px;
    margin-right: 20px;
    width: 110px !important;
    height: 40px;
}

.about-home:hover {
    border-radius: 50px;
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: 13px;
    margin-right: 20px;
    width: 110px;
    height: 40px;
}

.subscribe-home:hover {
    border-radius: 50px;
    background-color: #000000 !important;
    color: #FFFFFF !important;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: 13px;
    margin-right: 20px;
    width: 110px !important;
    height: 40px;
}

